<!--<div class="chat-body">
  <button (click)="login()" *ngIf="!name">Login With Facebook</button>

  <div class="chat-nav">
    <ul>
      <li *ngFor="let chat of chats">
        <a (click)="abobora(chat.link)">{{ chat.name }}</a>
      </li>
    </ul>
  </div>

  <div class="chat-content">
    <div class="chat-box">
      <div class="container-scroll">
        <div class="chat-container" *ngFor="let item of items | async">
          <p>{{item.message}}</p>
          <a href="#">{{item.name}} - {{item.timestamp | date: 'dd/MM/yy H:mm:ss'}}</a>
        </div>
      </div>
    </div>

    <div class="chat-inputholder">
      <input type="text" id="message" *ngIf="name" placeholder="Chat here..." (keyup.enter)="chatSend($event.target.value)" [(ngModel)]="msgVal"
      />
    </div>
  </div>
</div>-->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Firebase Crud</a>
    </div>
    <div *ngIf="isLoggedIn" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="app-content">
  <router-outlet></router-outlet>
</div>