<!--<div class="chat-body">
  
  <button (click)="createUser(user)" *ngIf="!name">Criar Login</button>

  <app-roomnav [user]="user" *ngIf="name" (onRequestRoomChange)="onRequestRoomChange($event)"></app-roomnav>

  <app-chatroom [user]="user" *ngIf="name" [room]="currentRoom"></app-chatroom>

</div>-->

<div class="app-content">
  <router-outlet></router-outlet>
</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div *ngIf="isLoggedIn" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>