
:host {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.chat-box {
  padding-left: 20px;
  padding-right: 20px;
    
}

.container-scroll {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 75px)
}

.message-container {
  display: block;
  font-size: 16px;

}

span.time {
  color: rgba(0,0,0,0);
  width: 65px;
  padding-right: 5px;
}
.message-container:hover > .time {
  color: #000;
}

span.username {
  text-transform: uppercase;
  color: darkred;
}

span.msg-text {
  color: #000;
}

.message-container:nth-child(odd){ 
  background-color: rgba(50,50,50, 0.2);
}


.chat-inputholder {
  margin-top: auto;
  padding-left: 20px;
  padding-right: 20px;
}

input#message {
  background: none;
  border: none;
  border-bottom: 1px solid #4C4C4C;
  outline: none;
  box-shadow: none;
  color: #000;
  font-size: 30px;
  font-weight: 300;
  margin-top: 20px;
}