
:host {
  display: flex;
  flex-direction: column;
  width: 88%;
  justify-content: space-between;
}

.chat-name {
  display: flex;
  line-height: 40px;
  height: 40px;
  width: 100%;
  background: hsl(5, 88%, 61%);
  justify-content: space-between;

  border-bottom-right-radius: 5px;

}

.chat-name span:last-child {
  color: white;
  font-size: 24px;
  padding-right: 20px;
}

.chat-box {
  padding-left: 5px;
}

.container-scroll {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 115px);
  height: calc(100vh - 115px);
}

.message-container {
  display: block;
  font-size: 16px;

}

.message-container span {
  display: inline-block;
}

span.time {
  color: rgba(0,0,0,0);
  min-width: 65px;
  padding-right: 5px;
}
.message-container:hover > .time {
  color: #000;
}

span.username {
  color: darkred;
}

span.msg-text {
  color: #000;
}

.message-container:nth-child(odd){ 
  background-color: rgba(50,50,50, 0.15);
}


.chat-inputholder {
  margin-top: auto;
  padding-left: 20px;
  padding-right: 20px;
}

input#message {
  background: none;
  border: none;
  border-bottom: 1px solid #4C4C4C;
  outline: none;
  box-shadow: none;
  color: #000;
  font-size: 30px;
  font-weight: 300;
  margin-top: 20px;
}