<div>
  <div class="chat-box">
    <div #scrollContainer class="container-scroll">
      <div class="message-container" *ngFor="let message of messages | async">
        <span class="time">{{message.timestamp | date: 'H:mm'}}</span>
        <span class="username">{{message.name}}</span>
        <span class="msg-text">{{message.text}}</span>
      </div>
    </div>
  </div>

  <div class="chat-inputholder">
    <input type="text" id="message" placeholder="Chat here..." 
      (keyup.enter)="sendChatMessage($event.target.value)" [(ngModel)]="msgVal" />
  </div>
</div>
