<div class="chat-box">
  <div #scrollContainer class="container-scroll">
    <div class="message-container" *ngFor="let item of items | async">
      <span class="time">{{item.timestamp | date: 'H:mm'}}</span>
      <span class="username">{{item.name}}</span>
      <span class="msg-text">{{item.message}}</span>
    </div>
  </div>
</div>

<div class="chat-inputholder">
  <input type="text" id="message" *ngIf="user" placeholder="Chat here..." (keyup.enter)="sendChatMessage($event.target.value)"
    [(ngModel)]="msgVal" />
</div>
